.Filter-box {
  width: 100%;
  height: calc(45vw * 493 / 684);
}

.Filter-video-filter {
  background-image: url('../../../img/Video_filter_box.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-width: 0;
  cursor: pointer;
}