.nav-wrapper {
    display: flex;
    background-color: lightgray;
    border-bottom: 1px black;
}

/*
.nav-logo {
    width: 200px;
    height: 50px;
    margin-left: 150px;
}
*/

.project-name {
  text-align: center;
  padding: 6px;
  font-size: 40px;
  font-weight: 900;
  color: white;
  background-color: #24292e;
}

.nav-search {
    display: flex;
    width : 500px;
    height : 30px;
    margin-top: 10px;
    margin-left: 420px;
    font-size: 17px;
    font-weight: 900;
    color: black;
}

.nav-link {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 300px;
}

#main-logo {
  position: relative;
  left: 910px;
  bottom: 65px;
  height: 65px;
}