.nav-wrapper {
    display: flex;
    /* justify-content: center; */
}

.nav-logo {
    width: 200px;
    height: 50px;
    margin-left: 150px;
}

.nav-search {
    display: flex;
    width : 500px;
    height : 30px;
    margin-top: 10px;
    margin-left: 420px;
    font-size: 17px;
}

.nav-link {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 300px;
}