/*
.nav-logo {
    width: 200px;
    height: 50px;
    margin-left: 150px;
}

.nav-search {
    display: flex;
    width : 500px;
    height : 30px;
    margin-top: 10px;
    margin-left: 420px;
    font-size: 17px;
    font-weight: 900;
    color: black;
}

.nav-link {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 300px;
} */

.nav-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #24292e;
  height: 100px;
}

#project-name {
  padding-top: 4px;
  font-size: 23px;
  font-weight: 900;
  color: white;
}

#main-logo {
  height: 50px;
  margin-left: 20px;
}   