.text-wrapper {
    display: flex;
    flex-direction: column;
    border: outset 3px lightgray;
    font-size: 20px;
    width: 894px;
    height: 300px;
    margin-left: 150px;
    margin-top: 25px;
}