/* /* .filebox {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.filebox label {
    position: relative;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    background-color: #d11507;
    cursor: pointer;
    border: 1px solid #ff0000;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
 }
  
  .filebox label:hover {
    background-color: #ff0000;
  }
  
  .filebox label:active {
    background-color: #ff0000;
  }
  
  .filebox input[type="file"] {
    position: relative;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  } 

.box-wrapper {
  height: 488px;
}

.upload-wrapper {
    width: 1111px;
    height: 570px;
    margin-right: 45px;
}

#upload-box {
    background-color: #eeeeee;
    background-image: url("../img/upload2.png");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: 1px solid #d1d5da;
    border-top: none;
    text-align: center;
    vertical-align: middle;
}

#upload-title {
  background-color: #f1f8ff;
  width:1079px;
  border: 1px solid #c8e1ff;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 14px;
} */

.Upload {
  /* display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start; */
  text-align: center;
  overflow: hidden;
  width: 720px;
}

.Content {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.Files {
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1 1;
  overflow-y: auto;
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 32px;
}

.Title {
  margin-bottom: 32px;
  color: #555;
}

.Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.Row {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.CheckIcon {
  opacity: 0.5;
  margin-left: 32px;
}

.ProgressWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

button {
  font-family: "Roboto medium", sans-serif;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;
  background: rgba(103, 58, 183, 1);
  color: #fff;
  outline: 0;
  margin-left: 315px;
}

button:disabled {
  background: rgb(189, 189, 189);
  cursor: default;
}